#about {
    background-color: rgb(255, 254, 248);
}

.avatar {
    border-radius: 50%;
    width: 128pt;
    height: 128pt;
    margin-right: 40px;
}

.about_header_inner {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.about_text {
    font-size: 12pt;
    padding: 10px 0;
    line-height: 1.5;
    width: 450px;
    font-weight: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row_about {
    /* content: ""; */
    display: table;
    /* clear: both; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.column_about {
    display: table-cell;
}

.column_about .contents {
    max-width: 650px;
    /* min-width: 620px; */
    margin-left: auto;
    margin-right: auto;
}


/* when screen size is smaller than 1450px, change the two columns into 1  */

@media only screen and (max-width: 1450px) {
    .column_about {
        display: block;
        width: 100%;
    }
    .column_about .contents {
        margin-left: auto;
        margin-right: auto;
    }
    .terminal {
        margin-left: auto;
        margin-right: auto;
    }
    .terminal_header {
        margin-left: auto;
        margin-right: auto;
    }
    .column_seperator {
        min-width: 0px;
        max-width: 0px;
    }
}


/* when screen is less than 670px, need skills to be one column */

@media only screen and (max-width: 670px) {
    .fluent {
        float: none !important;
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .languages {
        float: none !important;
        margin: 0 auto;
    }
}

.terminal_header {
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    padding-bottom: 30px;
    background-color: rgb(173, 173, 173);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.terminal {
    background-color: rgb(70, 70, 70);
    border-bottom-right-radius: 3pt;
    border-bottom-left-radius: 3pt;
    padding-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.terminal .textline {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: rgb(201, 201, 201);
    font-family: "Courier New", Courier, monospace;
}

.terminal .textline:hover {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
}

.terminal .response {
    margin: 0px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(214, 214, 214, 0.849);
    font-family: "Courier New", Courier, monospace;
}

.terminal .response:hover {
    margin: 0px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
}

.languages {
    font-size: 14pt;
    float: left;
    font-weight: lighter;
}

.languages td {
    padding-bottom: 14px;
    padding-right: 25px;
}

.fluent {
    float: right;
    justify-content: center;
}

.fluent td {
    padding-bottom: 37px;
    /* border: rgb(70, 70, 70) 1px solid; */
    padding-right: 20px;
}

.fluent p {
    text-align: center;
    font-size: 11pt;
    font-weight: 100;
}

.fluent img {
    border-radius: 50%;
    width: 45pt;
    height: 45pt;
    object-fit: contain;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.7s ease-in-out;
}

.fluent img:hover {
    transform: rotate(360deg);
}

.fluent i:hover {
    transform: rotate(360deg);
}

.fluent i {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: transform 0.7s ease-in-out;
}

.languages i {}

.column_seperator {
    min-width: 50px;
    max-width: 50px;
}

.button_holder_about_me_wrapper {
    float: left;
    position: relative;
    left: 50%;
}

.button_holder_about_me {
    float: left;
    position: relative;
    left: -50%;
}

.button_about {
    margin-top: 5px;
    padding: 10px 15px;
    width: 130px;
    font-size: 11pt;
    margin-right: 10px;
}