body,
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* min-width: 1500px; */
}

.bg {
    /* The image used */
    background-image: url("./francesco-ungaro-nlqqldluDBw-unsplash.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner {
    width: 700px;
    max-width: 1020px;
    margin: 0 auto;
}


/* The navigation bar */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Links inside the navbar */

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li {
    display: inline;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #ddd;
    color: black;
}