#resume .inner p {
    display: block;
    line-height: 28px;
}

#resume {
    background-color: rgb(243, 239, 224);
}

.location {
    color: #09f;
    float: right;
    font-size: smaller;
}

.location span {
    margin-left: 4px;
}

.job_link {
    display: inline-block;
    font-size: 10.5pt;
    font-weight: 100;
    color: #09f;
    margin-left: 4px;
}

.logo {
    width: 40pt;
    height: 40pt;
    object-fit: contain;
    box-sizing: border-box;
    display: block;
    margin-left: -80px;
    float: left;
    margin-top: 5px;
}

.spacer {
    padding-bottom: 15px;
}

.job_info {
    line-height: 30px;
    font-size: 13.5pt;
    margin-top: 15px;
}

.job_description {
    line-height: 25px;
    font-size: 11pt;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.coursework {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.skill_software {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #289234;
    font-weight: 400;
    margin-top: 5px;
}

.skill_software:hover {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #289234;
    background-color: #2892346b;
    font-weight: 400;
    margin-top: 5px;
}

.skill_language {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #499ee4;
    font-weight: 400;
    margin-top: 5px;
}

.skill_language:hover {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #499ee4;
    background-color: #67b0eb;
    font-weight: 400;
    margin-top: 5px;
}

.skill_soft {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #fa5151;
    font-weight: 400;
    margin-top: 5px;
}

.skill_soft:hover {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    width: auto;
    font-size: 11px;
    line-height: 1.33em;
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px solid #fa5151;
    background-color: #fa51514d;
    font-weight: 400;
    margin-top: 5px;
}

#education {
    background-color: rgb(255, 254, 248);
}

.button {
    margin-top: 15px;
    background-color: #09f;
    /* Green */
    border: none;
    color: white !important;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    border-radius: 5pt;
}