#resume .inner p {
    display: block;
    line-height: 34px;
}

.logo {
    width: 40pt;
    height: 40pt;
    object-fit: contain;
    box-sizing: border-box;
    display: block;
    margin-left: -80px;
    float: left;
}

.coursework {
    float: left;
    width: 50%;
    margin-top: 10px;
}